.m-button {
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    color: #fff;
    padding: 0 24px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-family: GoogleSans-Regular;
    min-width: 100px;
}

.m-button:hover {
    background-color: #2FBE8E;
}

.m-button:active {
    background-color: #01B075;
}

.m-second-button {
    background-color: #bbbbbb;
    border-radius: 4px;
    height: 40px;
    color: #000000;
    padding: 0 24px;
    text-align: center;
    outline: none;
    border: 1px solid #bbbbbb;
    cursor: pointer;
    font-size: 13px;
    font-family: GoogleSans-Regular;
    min-width: 100px;
}

.m-second-button:hover {
    background-color: #E9EBEE;
}


/* .m-second-button:active {
    background-color: #01B075;
    color: #fff;
} */


/* button icon*/

.m-button-icon {
    padding-left: 40px;
    display: flex;
    line-height: 40px;
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    color: #fff;
    background-size: 16px;
    background-position: 16px 12px;
    background-repeat: no-repeat;
    background-image: url('../../assets/icon/add.png');
}

.button-only-icon {
    background-image: url('../../assets/icon/refresh.png');
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: #E5E5E5;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    border: 1px solid #bbbbbb;
    cursor: pointer;
}