/*thiết lập chung cho cả page*/

@import url('/css/base/button.css');
@import url('/css/base/combobox.css');
@import url('/css/base/input.css');
@import url('/css/base/loader.css');
@import url('/css/base/navigate.css');
@import url('/css/base/form.css');
@import url('/css/base/table.css');
@import url('/css/base/toastmessenger.css');
@import url('/css/content/header.css');
@import url('/css/content/maincontent/mainheader.css');
@import url('/css/content/maincontent/maininformation.css');
@import url('/css/content/maincontent/mainnavigate.css');
@import url('/css/content/maincontent/maintools.css');
@import url('/css/menu/banner.css');
@import url('/css/menu/menu.css');
@import url('/css/content/maincontent/deleteconfirm.css');

/* css body*/

body {
    display: flex;
    position: relative;
}


/* css cho toàn bộ page*/

* {
    margin: 0;
    padding: 0;
    font-family: GoogleSans;
}


/*xác định vùng menu*/

.m-menu {
    width: 250px;
    border-right: 2px solid #dddddd;
}


/*xác định vùng chứa nội dung*/

.m-content {
    width: 100%;
}