/*css cho table*/

.m-table {
    background-color: #ffffff;
    color: #111111;
    border-collapse: collapse;
    width: 100%;
}


/*css cho những tr lẻ trong tbody*/

.m-table tbody tr:nth-child(2n-1) {
    background-color: #dddddd;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}


/*css cho tr khi hover*/

.m-table tbody tr:hover {
    background-color: #cccccc;
}


/*css cho td và th*/

.m-table td,
th {
    height: 40px;
    text-align: left;
    padding: 0 8px;
}