.m-checkbox + label{
    display: block;
    cursor: pointer;
}
.m-checkbox, .m-radio{
    display: none;
}

.m-checkbox + label:before {
    content: "\2713";
    text-align: center;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: transparent;
    transition: .2s;
}

.m-checkbox:checked + label:before {
    border: 1px solid #019160;
    background-color: #019160;
    color: #fff;
}

.m-radio + label{
    position: relative;
    font-size: 13px;
    color: #000000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 57px;
    cursor: pointer;
    padding: 7px 0px;
}

.m-radio + label:before{
    content: '';
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #BBBBBB;
    margin-right: 8px;
}

.m-radio:checked + label:before {
    background-image: url('../../img/radio@2x.png');
    background-size: 17px;
}