.c-field-input {
  border: 1px solid var(--black-light);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.c-field-input-icon input {
  background: url(/asset/icon/search.png) no-repeat;
  background-size: 16px 16px;
  background-position: 16px center;
}
.c-field-input.invalid {
  border-color: var(--red);
}
.c-field-input:focus-within {
  border-color: var(--primary-default);
}
.c-field-input input {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  color: var(--black);
  font-weight: normal;
  padding: 0 10px 0 16px;
  border: none;
  outline: none;
  min-width: 0;
  width: 100%;
}
.c-field-input input::placeholder {
  font-size: 11px;
  color: var(--black-light);
  font-weight: normal;
}
.c-field-input-reset {
  border-radius: 50%;
  margin-right: 10px;
  background: #eee url(/asset/icon/x.svg) no-repeat center;
  background-size: 12px 12px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: none;
}
.c-field-input-reset.active {
  display: inline-block;
}
.c-field-input-icon input {
  padding-left: 40px;
}
label.c-field-input-label {
  margin-bottom: 10px;
  display: block;
}
